@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 0.1px;
  background-color: rgb(255, 255, 255);
  height: 100%;
}
a {
  text-decoration: none;
}
.header {
  box-shadow: -21.213px 21.213px 30px 0px rgb(158 158 158 / 20%);
}
.title {
  padding: 20px;
}
.main {
  margin-top: 60px;
  align-items: center;
}
.generator {
  align-items: center;
  margin: 25px 5px;
}
.generator .left {
  font-size: 18px;
}

.content {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  padding: 20px;
}
.err {
  color: #ff0000;
  display: none;
  margin-top: 10px;
}
.myAkan {
  display: none;
  font-size: 18px;
  padding: 10px;
  background: #0080520d;
  border-radius: 20px;
}
.myAkan .myAkanDetails {
  text-align: center;
}

.myAkan .close {
  text-align: right;
  color: red;
}
